@import url(font-awesome.min.css);

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
}

h1 {
  display: block;
  font-size: 3em;
  margin-top: 4.50em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

nav {
      width: 100%;
      background: #2a2b2d;
      height: 50px;
      position: static;
      z-index: 1;
}

nav #brand {
      float: left;
      display: block;
      margin-left: 30px;
      font-size: 20px;
      line-height: 57px;
      font-weight: bold;
}

nav #brand a {
      color: #fff;
      transition: all 0.3s ease-out;
      font-family: "Poppins";
      font-weight: 400;
}

nav #menu {
      float: left;
      left: 50%;
      position: relative;
}

nav #menu li {
      display: inline-block;
      padding: 0px 30px;
      cursor: pointer;
      line-height: 25px;
      position: relative;
      transition: all 0.3s ease-out;
}

nav #menu li a {
      color: #fff;
      font-family: "Poppins";
      font-weight: 2000;
}

#toggle {
      position: absolute;
      right: 20px;
      top: 14px;
      z-index: 999;
      width: 20px;
      height: 2px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

#toggle .span {
      height: 3px;
      background: #00A6BC;
      transition: all 0.3s ease-out;
      backface-visibility: hidden;
      margin: 5px auto;
}

#toggle.on #one {
      transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
      opacity: 0;
}

#toggle.on #three {
      transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize {
      z-index: 1;
      top: 0px;
      position: absolute;
      background: #000;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
      display: table;
}

#resize #menu {
      height: 90px;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 20px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top:140px;
}

#resize #menu li a {
      color: #fff;
}

#resize.active {
      visibility: visible;
      opacity: 0.99;
}


@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: -1px;
      }

      nav #brand {
            margin-left: 18px;
      }

      #menu a {
            font-family: "Poppins";
            font-weight: 200;
            font-size: 20px;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}


#banner {
		padding: 8em 0 9em 0;
		background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(banner.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		text-align: center;
		position: relative;
	}

	
		#banner h1 {
			font-size: 4.5em;
			font-weight: 4000;
			color: #fff;
			line-height:2em;
			margin: 0 0 1em 0;
			padding: 0;
		}
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

			
		}

		@media screen and (max-width: 1680px) {

			#banner .flex div {
				padding: 0 6em;
			}

		}

		@media screen and (max-width: 1280px) {

			#banner {
				padding: 7em 0 6em 0;
			}

				#banner .inner {
					padding-top: 6em;
				}

				#banner h1 {
					font-size: 3em;
				}
		}

		@media screen and (max-width: 980px) {

			#banner {
				background-attachment: scroll;
				padding: 5em 0 4em 0;
			}

				#banner .inner {
					padding-top: 4em;
				}

				#banner h1 {
					font-size: 2.5em;
				}
		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 4em 0 3em 0;
			}

				#banner .inner {
					padding-top: 4em;
				}

				#banner h1 {
					font-size: 2em;
				}

				
				
		@media screen and (max-width: 480px) {

			#banner h1 {
				font-size: 1.5em;
			}

		}


   
.button {
    box-shadow: inset 0 0 0 30px #00A6BC;
    color: #FFFFFF;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    font-size: .80em;
    font-weight: 600;
    height: 3.75em;
    line-height: 3.85em;
    letter-spacing: 2px;
    padding: 0 4em;
    text-align: center;
    margin-top: 70px;
    text-transform: uppercase;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.txt-15{
      background-color: #9FC3D1;
      padding: 8px;
      margin: 3px 0px;
    }
    
    .block {
  display: block;
  width: 100%;
  border: none;
  background-color: #00A6BC;
  color: white;
  padding: 34px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.block:hover {
  background-color: #ddd;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.carbon {
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.ito{

white-space: nowrap;
}
@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}


img {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}




.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #00A6BC;
    text-align: center;
    cursor: pointer;
}

.myImage {
    width: 600px;
    
}


@media only screen and (max-width: 600px) {
    .myImage {
        width: 100vw;
    }
}

* {
    box-sizing: border-box;
}

.column {
    margin-left: 100px;
    width: 70.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.hero-text button:hover {
    background-color: ;
  color: white;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #00A6BC;
    color: white;
}

.instagram {
    background: grey;
    color: white;
}

.twitter {
    background: #00A6BC;
    color: white;
}

.youtube {
    background: grey;
    color: white;
}

.pinterest {
    background: #00A6BC;
    color: white;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}

#footer {
    padding: 1em 0;
    background: #000000;
    color: #fff;
    text-align: center;
}

#footer p {
    padding: margin-top:
		margin-bottom:
		
#footer h3 {
    color: #FFF;
    margin-bottom: 2em !important;
}

@media screen and (max-width: 980px) {
    #footer {
        padding: 4em 0;
    }
}

@media screen and (max-width: 736px) {
    #footer {
        padding: 3em 0;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


